body {
    box-sizing: border-box;
    margin: 0; padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(248, 218, 218);
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 50vw;
    height: 100%;
    /* border: 1px red solid; */
    /* background: rgb(63,94,251); */
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}

#addTodo {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 2px grey solid;
    margin-top: 20px;
    font-size: 24px;
    /* margin-left: 17px; */
}

#addTodo:hover {
    border: 2px rgba(248, 159, 159, 0.8) solid;
}

#editTodo {
    width: 100%;
    height: 20px;
    border-radius: 25px;
    border: 2px grey solid;
    font-size: 16px;
    /* margin-left: 17px; */
}

#editTodo:hover {
    border: 2px rgba(248, 159, 159, 0.8) solid;
}

#taskContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px grey solid;
    background-color: white;
    text-align: center;
}

#taskButtons button {
    margin-left: 10px;
    height: 30px;
    width: 60px;
    font-size: 18px;
    border-radius: 25px;
    background-color: white;
    font-size: 20px;
}

#editBtn {
    color: rgba(33, 228, 33, 0.7);
}

#deleteBtn {
    color: rgba(247, 56, 8, 0.9);
    margin-right: 5px;
}